@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body#about img {
    height: 15em;
}
/* body#portfolio img {
    /* height: 25em; */
} */
p {
    max-width: 50em;
    
}
:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --heading-color: lavenderblush;
    --light-color: aliceblue;
    --background-color:  whitesmoke;
    --link-color: rgb(170, 170, 170);
    --contrast-color:rgb(250, 169, 196);
}
a {
    color: var(--link-color);
}
a:hover{
    color: var(--contrast-color);
}
body {
    /* padding: 4em; */
    font-family: 'Montserrat', cursive;
    /* background-image: 'images/arches.png'; */
    background-color:  var(--background-color);
    background-image: url(http://www.transparenttextures.com/patterns/arches.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-size: 18px;
    line-height: 1.5em;
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head head"
                         "nav main"
                         "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}
body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
h1, h2, h3 {
    line-height: 1.2em;
    font-family: 'WindSong', cursive;
}
body > header {
    grid-area: head;
    background-color: var(--heading-color);
    /* background-color: aqua; */
}
body > nav {
    grid-area: nav;
    background-color: var(--light-color);
    /* background-color: red; */
}
body > nav ul{
    list-style-type: none;
    padding: 0;
}
body > nav ul li {
    display: inline;
    padding-right: 1rem;
}
body > main {
    grid-area: main;
    /* background-color: blue; */
}
body > footer {
    grid-area: foot;
    background-color: var(--heading-color);
    /* background-color: blueviolet; */
}
header, footer {
    padding-top: var(--vertical-space);
    padding-top: var(--vertical-space);
}
header h1, footer h1 {
    margin: 0;
}
body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}
body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}